.talk-area-in{
    // display: flex;
    // @include pc{
    //     flex-direction: row;
    // }
    // @include phone{
    //     flex-direction: column;
    // }
    // padding-left: 15%;
    // padding-right: 15%;
    margin: 0!important;
    .profile-area{

        overflow-x: hidden;
        position: relative;

        .profile-txt-area{
            position: absolute;
            bottom: 0;
            text-align: center;
            font-family: 'myfont';
            color: $white;
        }
    }
    .chat-area{
        padding-left: 2%;
        padding-right: 2%;
        flex-grow:1;
        
        hr{
            width: 100%!important;
        }

        .chat-area-in{
            font-family: 'myfont';
            overflow-y: scroll;
            .line-bc {
                padding: 20px 10px;
                margin: 15px auto;
                text-align: right;
                .date-header{
                    text-align: center;
                }
                .balloon6 {
                    width: 100%;
                    margin: 10px 0;
                    overflow: hidden;
    
                    .faceicon {
                        float: left;
                        margin-right: -50px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: auto;
                            
                        }
                    }
    
                    .chatting {
                        width: 100%;
                        text-align: left;
                    }
    
                    .says {
                        display: inline-block;
                        position: relative; 
                        margin: 0 0 0 50px;
                        padding: 10px;
                        max-width: 250px;
                        border-radius: 12px;
                        background: $gray;
    
                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 3px; 
                            left: -19px;
                            border: 8px solid transparent;
                            border-right: 18px solid $gray;
                            -webkit-transform: rotate(35deg);
                            transform: rotate(35deg);
                        }
    
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
    
                .mycomment {
                    margin: 10px 0;
    
                    p {
                        display: inline-block;
                        position: relative; 
                        margin: 0 10px 0 0;
                        padding: 8px;
                        max-width: 250px;
                        border-radius: 12px;
                        background: $green;
    
                        &:after {
                            content: "";
                            position: absolute;
                            top: 3px; 
                            right: -19px;
                            border: 8px solid transparent;
                            border-left: 18px solid $green;
                            -webkit-transform: rotate(-35deg);
                            transform: rotate(-35deg);
                        }
                        
                    }
                }
            
            }
        }
        
    }
}