.input-fitler-txt-container{
    @include pc{
        margin-top: 2%;
    }
    @include pad{
        margin-top: 10%;
        margin-bottom: 8%;
    }
    @include phone{
        margin-top:5%;
        margin-bottom: 3%;
    }
    text-align: center;
    .input-fitler-txt{
        font-family: 'myfont';
        border-radius: 25px;
        letter-spacing: 1px;

        border: 1px solid $gray;
        @include pc{width: 50%;}
        @include pad{width: 80%;}
        @include phone{width: 90%;}
        height: 30px;
        &:focus {
            outline: none !important;
            box-shadow: none;
        }
    }
}