.profile-header-txt{

    font-family: 'myfont';
    font-style: italic;

}
.header-line{
    margin-left: 0!important;
    @include pad{width: 100%!important;}
    @include phone{width:100%!important;}
}

.profile-label{
    font-family: 'myfont';
    margin-top: 10%;
    margin-bottom: 10%;
    @include phone{
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.timeline-txt{
    font-family: 'myfont';
}
.timeline-header{
    text-align: center;
}
.timeline-message{
    margin-top: 15%;
    line-height: 1.8;
    word-break: break-all;
    white-space: pre-wrap;
    @include phone{line-height: 1.5;}
}