.list-container{
    width: 85%;
    @include pc{
        margin: 2% auto;
    }
    @include pad{
        margin: 10% auto;
        margin-bottom: 10%;
    };
    @include phone{
        margin: 8% auto;
        margin-bottom: 30%;
    };

    img{
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
            opacity: .5;
        }
    }
}
.list-txt{
    font-family: 'myfont';
}
.user-list{
    @include phone{
        width: 80%;
        margin: auto;
    }
}
.add-group-list{
    position: relative;
    .selected-message-wrapper{
        position: absolute;
        text-align: center;
        top:50%;
        .selected-message{
            font-family: 'myfont';
        }
    }
    .select-image-false{
        display: none;
    }
    .select-image-true{
        display: block;
    }
    .img-opacity-true{
        opacity: .5;
    }
}
.slick-next:before, .slick-prev:before {
    color: #000 !important;
    // @include pad{
    //     display: none;
    // };
    // @include phone{
    //     display: none;
    // };
}
.slick-prev:before {
    content: '\03c' !important;
}
.slick-next:before {
    content: '\03e' !important;
}
.slick-slide:hover{
    cursor: pointer;
}